node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
*.md
.vscode
.idea
.agents
.cursor
coverage
eslint.config.*
Dockerfile*
.dockerignore
npm-debug.log*
yarn-error.log*
.DS_Store
tsconfig.tsbuildinfo
skills-lock.json
LICENSE
